<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Pure META TAGS -->
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex, nofollow" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

		<!-- TWITTER OG TAGS -->
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{{ title }}" />
		<meta name="twitter:description" content="{{ description }}" />
		<meta name="twitter:image" content="{{ image }}" />

		<!-- Pure OG TAGS -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:image" content="{{ image }}" />

		<title>{{ title }}</title>
	</head>
	<body>
		<script>
			window.location.replace("{{ target_url }}")
		</script>
	</body>
</html>
